.container {
  color: #3c486b;

  .content {
    margin-right: 1rem;
    margin-top: 1rem;
    background: #ffffff7c;
    padding: 2rem;
    border-radius: 10px;
  }

  .tableContainer {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 3rem;
    border-bottom: 1px solid #ffff;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .question {
    margin-top: 21rem;
    ul {
      list-style: none;
    }

    .alternative {
      padding: 0.1rem;
      margin-left: 1rem;
      .alternativeText {
        margin-left: 0.5rem;
      }
    }
  }

  .animationContainer {
    .tableHeader {
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      height: auto;
      p {
        position: relative;
      }
    }

    .table {
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      justify-items: center;
      align-items: center;
      .icon {
        width: 100%;
        aspect-ratio: 2/2;
        object-fit: contain;

        border: 1px solid black;

        border-top: none;
        border-bottom: none;
        border-right: none;
      }
    }
  }
}
